html {
font-size: 10px;

}

*{
  padding: 0;
  margin: 0;
}
header{
  
}
main {
font-family: Helvetica;
width: 100vw;
background-color: blueviolet;
padding: 0px;
font-size: 20px;

}

section{
  /* float: left; */
/*float é uma propriedade que permite deixar elementos à direita ou à esquerda da tela. Não costuma ser usado. Aqui, é usado apenas para ilustrar diferenças.*/
  max-width: 70vw;
  padding: 0px;
  min-height: 60vh;
  background-color: aqua;
  font-size: 2rem;
}

img {
width: 60%;

}

aside{
  /* float:right; */
 /*float é uma propriedade que permite deixar elementos à direita ou à esquerda da tela. Não costuma ser usado. Aqui, é usado apenas para ilustrar diferenças.*/
  padding: 20px;
  width: 600px;
  background-color: burlywood;
}

article{
  margin: 10px 0;
}
